<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">Plexus</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <property name="hibernate.jdbc.batch_size">0</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <mapping class="com.model.nationality.dto.Nationality"/>
    <mapping class="com.model.visit.dto.Visit"/>
    <mapping class="com.model.patient.dto.Patient"/>
    <mapping class="com.model.company.dto.Company"/>
    <mapping class="com.model.stock.dto.Stock"/>
    <mapping class="com.model.prescription.dto.Prescription"/>
    <mapping class="com.model.dossage.dto.Dossage"/>
    <mapping class="com.model.medicine.dto.Medicine"/>
    <mapping class="com.model.vendor.dto.Vendor"/>
    <mapping class="com.model.bill.dto.Bill"/>
    <mapping class="com.model.unitdispensedose.dto.Unitdispensedose"/>
    <mapping class="com.model.dispensedmedicinebill.dto.Dispensedmedicinebill"/>
    <mapping class="com.model.dispense.dto.Dispense"/>
    <mapping class="com.model.medicine.dto.AvailableMedicine"/>
    <mapping class="com.model.inPatient.dto.Inpatient"/>
    <mapping class="com.model.inVisit.dto.Invisit"/>
    <mapping class="com.model.inbill.dto.Inbill"/>
    <mapping class="com.model.indispensedmedicinebill.dto.Indispensedmedicinebill"/>
    <mapping class="com.model.inunitdispensedose.dto.Inunitdispensedose"/>
    <mapping class="com.model.indispense.dto.Indispense"/>
    <mapping class="com.model.inPatient.dao.InpatientDAO"/>
    <mapping class="com.model.inPatient.service.InpatientService"/>
    <mapping class="com.model.inVisit.service.InVisitService"/>
    <mapping class="com.model.inVisit.service.InVisitService"/>
    <mapping class="com.model.consultancytype.dto.Consultancytype"/>
    <mapping class="com.model.department.dto.Departmentname"/>
    <mapping class="com.model.doctorProcess.dto.Doctorinfo"/>
    <mapping class="com.model.licenceInfo.dto.Licenceinfo"/>
    <mapping class="com.model.medicine.dto.Medicine"/>
    <mapping class="com.model.medicine.dto.AvailableMedicine"/>
    <mapping class="com.model.medicine.dto.MedicineStock"/>
    <mapping class="com.model.rarelymedicine.dto.Rarelyprescribedmedicine"/>
    <mapping class="com.model.report.dto.Report"/>
    <mapping class="com.model.inreport.dto.Inreport"/>
    <mapping class="com.model.therapy.dto.Theraphy"/>
    <mapping class="com.model.therapy.dto.TherapyType"/>
    <mapping class="com.model.investigation.dto.Investigation"/>
    <mapping class="com.model.therapybill.dto.Therapybill"/>
    <mapping class="com.model.investigationbill.dto.Investigationbill"/>
    <mapping class="com.model.detailTherapyBill.dto.Detailstherapybill"/>
    <mapping class="com.model.detailInvestigationBill.dto.Detailsinvestigationbill"/>
    <mapping class="com.model.user.dto.User"/>
    <mapping class="com.model.token.dto.Tokenlist"/>
    <mapping class="com.model.BuildingType.dto.Buildingtypesetup"/>
    <mapping class="com.model.RoomType.Dto.Roomtype"/>
    <mapping class="com.model.roomsetup.dto.Roomsetup"/>
    <mapping class="com.model.roomndbedssetup.dto.Roomndbedsetup"/>
    <mapping class="com.model.beddetail.dto.Beddetails"/>
    <mapping class="com.model.biochemistry.dto.Biochemistry"/>
    <mapping class="com.model.bloodtransfucion.dto.Bloodtransfucion"/>
    <mapping class="com.model.bbiochemistry.dto.Bbiochemistry"/>
    <mapping class="com.model.gst.dto.Gst"/>
    <mapping class="com.model.lab.dto.Lab"/>
    <mapping class="com.model.operation.dto.Operation"/>
    <mapping class="com.model.routineureal.dto.Routineurine"/>
    <mapping class="com.model.sonography.dto.Sonography"/>
    <mapping class="com.model.xray.dto.Xray"/>
    <mapping class="com.model.detailsOperationBill.dto.Detailsoperationbill"/>
    <mapping class="com.model.operationType.dto.Operationtype"/>
    <mapping class="com.model.operationBill.dto.Operationbill"/>
    <mapping class="com.model.redispense.dto.Redispense"/>
    <mapping class="com.model.reunitdispensedose.dto.Reunitdispensedose"/>
    <mapping class="com.model.redispensedmedicinebill.dto.Redispensedmedicinebill"/>
    <mapping class="com.model.advance.dto.Advance"/>
    <mapping class="com.model.advance.dtochild.Advancechildbill"/>
    <mapping class="com.model.operationBill.dto.Operationbillchild"/>
    <mapping class="com.model.operationBill.dto.Operationbill"/>
    <mapping class="com.model.detailsOperationBill.dto.Detailsoperationbill"/>
    <mapping class="com.model.detailsOperationBill.dto.Detailsoperationbillchild"/>
  </session-factory>
</hibernate-configuration>
